body {
	background-color: #fff;  
	margin: 0px;
	font-family: verdana, georgia, arial, serif;
	font-size: 14px;
}
#container {
	width: 1200px;
	margin: 0px auto;
}

#header {
	background-color: #002d4d;
	margin: 10px;
	height: 180px;
	border-radius: 8px;
}

#navbar ul {
	background-color: #000f1a;
	margin: 10px;
	border-radius: 8px;
	padding: 5px;
	list-style-type: none;
	text-align: center;  
}

#navbar ul li {
	display: inline;
}

#navbar ul li a {
	background-color: #000f1a;
	color: #fff;
	text-decoration: none;
	font-family: arial;
	padding: .2em 1em;

}

#navbar ul li a:hover {
	color: #000f1a;
	background-color: #fff;
}

#right {
	background-color: #0077cc;
	margin: 10px;
	margin-top: 0px;
	padding: 20px;
	float: right;
	width: 300px;
	clear: right;
	border-radius: 8px;
}

.rightbar {
	background-color: #33aaff;
	margin: 0px;
	padding: 20px;
	width: 260px;
	border: 1px solid #0077cc;
	border-radius: 5px;
}
h3 {
	font-size: 400%;
	text-align: center;
	text-shadow: ;
	color: #fff;
	font-family: verdana, arial;
	margin: 0px;
	position: relative;
	top: 50%;
	-webkit-transform: translateY(-50%);
	-ms-transform: translateY(-50%);
	transform: translateY(-50%);
}